{% extends 'teamManangement/base.html' %}

{% block content %}
  <h1>Team Members</h1>
  <h2>{{ team_members.count }} team members</h2>

  <ul>
    {% for team_member in team_members %}
      <li>
{#        <a href="{% url 'team_detail' team_member.id %}">#}
          {{ team_member.first_name }} {{ team_member.last_name }} - {{ team_member.get_role_display }}
{#        </a>#}
      </li>
    {% endfor %}
  </ul>

  <!-- Add more content or customize based on your needs -->

{#  <a href="{% url 'team_add' %}">Add a Team Member</a>#}
{% endblock %}
