<!-- edit_member.html -->
{% extends 'teamManagement/base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/forms.css' %}">
{% endblock %}
{% block content %}
    <div class="hero">
        <div class="title">{% if 'edit' in request.path %}Edit {% else %} Add a{% endif %} Team Member</div>
        <div class="subtitle">
            {% if 'edit' in request.path %}
                Edit contact info and role.
            {% else %}
                Set email, location, and role.
            {% endif %}
        </div>
        <p>Info</p>
        {#  I have not added action because in this case same view will be called when save button is clicked#}
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                {{ form.first_name }}
            </div>

            <div class="form-group">
                {{ form.last_name }}
            </div>

            <div class="form-group">
                {{ form.email }}
            </div>

            <div class="form-group">
                {{ form.phone_number }}
            </div>

            <div class="form-group">
                <label for="{{ form.role.id_for_label }}">Role:</label>
                {{ form.role }}
            </div>
            <button type="submit">Save</button>
        </form>

        {% if 'edit' in request.path %}
            <form method="post" action="{% url 'teamManagement:delete_member' pk=object.pk %}">
                {% csrf_token %}
                <button type="submit">Delete</button>
            </form>
        {% endif %}
    </div>
{% endblock %}
