{% extends 'teamManagement/base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/team_list.css' %}">
{% endblock %}
{% block content %}
    <div class="hero">
        <div class="title">
            <div>
                Team members
            </div>
            <div><a class="add" href="{% url 'teamManagement:add_member' %}">+</a></div>
        </div>
        <div class="subtitle">You have {{ team_members.count }} team members</div>

        <div class="list_div">
            {% for team_member in team_members %}
                <div class="line"></div>
                <a class="text" href="{% url 'teamManagement:edit_member' team_member.id %}">
                    {{ team_member.first_name }} {{ team_member.last_name }} - {{ team_member.get_role_display }}
                    <p>{{ team_member.phone_number }}</p>
                    <p>{{ team_member.email }}</p>
                </a>
            {% endfor %}
        </div>
        <div class="line"></div>

        <!-- Add more content or customize based on your needs -->
    </div>
{% endblock %}
